@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}
:root{
  --bgPrimary: #252525;
  --skyGray:#dad7cd;
}

body{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bgPrimary);
}
.todo-header{
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 1px solid white;
}
.todo-title{
  font-family: var(--fontMonserrat);
  color: aliceblue;
  font-size: 2.5rem;
}
/* Todo Main */
.todo-main{
  margin: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

}
.todo-form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
label{
  display: flex;
}
.todo-input{
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 250px;
  background-color: var(--skyGray);
  font-weight: bold;
  padding: 15px 10px;
}
.icon-lens{
  background-color: var(--skyGray);
  cursor: pointer;
  border-radius: 8px 0px 0px 8px;
  padding: 15px 0;
  padding-left: 8px;
}
.todo-btn-submit{
  cursor: pointer;
  border: 0;
  border-radius: .7rem;
  font-weight: 600;
  background-color: var(--skyGray);
  padding: 15px 30px;
}
/* Contenedor de las tareas */
.task-list-container{
  width: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.todo-task{
  background-color: #dad7cd;
  padding: 15px 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Icono de eliminar tarea */
.icon-remove-task{
  cursor: pointer;
  color: red;
}

@media screen and (max-width: 590px){
  .todo-form{
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
  }
}