*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: #282C31;
}
body{
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Contenedor de toda la todo list */
.todo-container{
  background-color:#2525258f;
  padding: 1rem;
}
.todo-title{
  font-size: 2.3rem;
  color: #fff;
}
.todo-form{
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
}
.todo-input{
  grid-column: 1/2;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-indent: 10px;
  outline: none;
  border: none;
  border-radius: .5rem;
  background-color: lightgray;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.171);

}
.todo-input::placeholder{
  font-size: 15px;
  font-weight: 600;
}

.todo-btn{
  padding: .5rem 1rem;
  font-size: 1.1rem;
  grid-column: 2/3;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  background: linear-gradient( 45deg, rgb(68 29 223 / 98%), rgb(51 149 229 / 50%));
  box-shadow: 1px 2px 15px rgba(0,0,0,0.3);
}

/* Seccion de tareas */
.task-content{
  padding: 0rem 1rem;
  margin: .3rem auto;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.295);
}
.task-name{
  font-size: 1.1rem;
  font-family:"Comic Sans", sans-serif;
  color: aliceblue;
}
.task-delete{
  padding: .5rem .8rem;
  border: 0;
  border-radius: .2rem;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.task-delete-icon{
  color: rgba(157, 6, 6, 0.872);
}

.btn-removeAll{
  margin: 1rem auto;
  display: flex;
  padding: .6rem 2rem;
  border-radius: .6rem;
  font-weight: 600;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.487);
  color: aliceblue;
  letter-spacing: 1px;
  font-size: 1rem;
  border: 0;
}
.btn-removeAll:hover{
  background-color: rgba(255, 0, 0, 0.687);

}

/* Estilo para Cuando se envia el formulario y el input esta vacio */
.empty{
  outline:1.8px red solid;
}